**ML Model on Bank Note Authentication** + **Creating a dcoker container for it**

Reference : 
1. https://www.youtube.com/watch?v=ipFUANeStYE&list=PLZoTAELRMXVNKtpy0U_Mx9N26w8n0hIbs
2. Dataset link : https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data?select=BankNote_Authentication.csv

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pickle

# Part 1 :  Create a basic ML Model of Random Forest Classifier

In [15]:
## Data
## Features : variance,	skewness,	curtosis,	entropy	
## 'Class' says note is authentic or not --> if class = 1 => authentic

file = '/content/drive/My Drive/Colab Notebooks/ML Practice/data/BankNote_Authentication.csv'
df = pd.read_csv(file)
print("Dataset size ", df.shape )
df.head()

Dataset size  (1372, 5)

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [9]:
# Feature data and output label data
X = df.iloc[: , :-1] # reading all columns except last 
y =df.iloc[: , -1]   # raeding last column
y.head()
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [17]:
## Splitting test and train data
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)
print("Train dataset size : ", X_train.shape)
print("test dataset size : ", X_test.shape)

Train dataset size :  (1097, 4)
test dataset size :  (275, 4)

In [19]:
## Random Forest Classifier
clf = RandomForestClassifier()
clf.fit(X_train , y_train)  ## fitiing the RF model on train data

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [20]:
## Predicition
y_pred = clf.predict(X_test)

In [22]:
## Model score
acc = accuracy_score(y_test , y_pred)
print("Model Accuracy on test dataset : ", acc)

Model Accuracy on test dataset :  0.9854545454545455

# Part 2 : Converting our model to a file to use for Flask app and docker

In [24]:
## convert model to pickle app to use with flask app
pickle_file = open("RF_Classifier.pkl" , "wb")
pickle.dump(clf , pickle_file)
pickle_file.close()